#upload {
	width: 80%;
	padding: 1em;
	border-radius: 20px / 20px;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
}

#upload p {
	margin: 0;
	padding: 0;
}

#upload-area {
	width: 100%;
	margin: 1em auto 2%;
	border: 5px dashed #000000;
	color: #000000;
	background: #ffffff;
	font-size: 1em;
	text-align: center;
}

#upload-area p {
	margin: 1em 1%;
	padding: 0;
}

#preview {
	overflow: hidden;
}

#preview img {
	width: 100px;
	float: left;
	margin: 2%;
}

#upload-button {
	text-align:center;
}

#post {
	margin: 0;
	padding: 2%;
	border-radius: 1em / 1em;
	border-style: none;
	background: none;
	font-size: 2em;
}

#post:active {
	background: #d3d3d3;
}

