#pnn-container {
	margin: 0 auto;
	width: 70%;
	text-align: center;
	font-family: 'Lato';
	color: #ffffff;
	font-size: 1em;
}

#pnn-container a {
	margin-top: 2%;
}

.pnn-button {
	margin: 1%;
	color: #ffffff;
	font-size: 2em;
	text-decoration: none;
}

.pnn-button:hover {
	cursor: pointer;
	color: #c0c0c0;
}

#pnn-number {
	margin: 1%;
	color: #ffffff;
	font-size: 2em;
	text-decoration: none;
}

#pnn-number:hover {
	cursor: pointer;
	color: #c0c0c0;
}

#pnn-now {
	margin: 1%;
	border-bottom: solid 3px #c0c0c0;
	border-radius: 2px;
	color: #c0c0c0;
	font-size: 2.5em;
}

