body {
	background: #0f2350;
	margin: 0;
	padding: 0;
	min-width: 850px;
}

#rootContainer {
}

#header-container {
	position: fixed;
	display: flex;
	width: 100%;
	height: 105px;
	align-items: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: white;
	background: #192f60;
}

#logo {
	display: flex;
	margin-left: 5%;
	font-size: 6ex;
}

#logo a {
	position: relative;
	display: inline-block;
	color: white;
	text-decoration: none;
}

#logo a::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 5px;
	content: '';
	background: #ffffff;
	border-radius: 3px / 3px;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .4s;
}

#logo a:hover::after {
	transform: scale(1, 1);
}

#search-container {
	display: flex;
	margin-right: 5%;
	margin-left: auto;
	width: 20%;
}

#input-keyword {
	border-radius: 15px;
	width: 70%;
	min-width: 170px;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	outline: 0;
	font-size: 15px;
}

#input-keyword:focus {
	color: #c0c0c0;
}

#content {
	padding-top: 125px;
	padding-bottom: 5%;
}

#home {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	border-radius: 20px / 20px;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
}

#media {
	width: 80%;
	margin: 0 auto;
	border-radius: 20px / 20px;
	background: #ffffff;
}

#img-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-auto-rows: 300px;
	justify-content: center;
	padding-top: 1em;
	padding-bottom: 1em;
	grid-gap: 1em;
}

.content-thumbnail {
	text-align: center;
	padding: 1ex;
	border-radius: 5%;
}

.content-thumbnail:hover {
	cursor : pointer;
	background: #e0e0e0;
}

.content-thumbnail img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#original-img-container {
	padding: 1em;
}

.content-original {
	text-align: center;
}

.content-original img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

